@media screen and(min-width: 320px) and (max-width: 768px) {
  .carousel-indicators {
    margin: 0;
  }

  .home-news-title {
    height: auto;
  }

  .helped-bg {
    height: auto;
  }

  .square {
    width: 100px;
    height: 100px;
  }

  .modal-content .close {
    color: #ffffff
  }
}
